<h1>Index Page!</h1>


<div class="ui main text container">
	<div class="ui huge header">RESTful Blog App</div>
	<div class="ui top attached segment">
		<div class="ui divided items">
			{{#each blogs}}
				<div class="item">
					<div class="image">
						<img src={{image}} alt="Blog picture">
					</div>
					<div class="content">
						<a href="/blogs/{{_id}}" title="">{{title}}</a>
						<div class="meta">
							<span>{{created}}</span>
						</div>
						<div class="description">
							<p>{{body}}</p>	
						</div>
						<div class="extras">
							<a class="ui floated basic violet button" href="/blogs/{{_id}}">Read More <i class="right chevron icon"></i></a>
						</div>
					</div>
				</div>
			{{/each}}	
		</div>		
	</div>
</div>
